<div class="row sign-up-form">
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><strong>Name: </strong><%= @student.name %></span>
        <span class="card-title"><small><strong>Email: </strong><%= @student.email %></span></small>
        <p><%= 'Registered ' + time_ago_in_words(@student.created_at) %></p>
      </div>
    </div>
    <% if current_user == @student %>
      <%= link_to 'Edit Profile<i class="material-icons right">create</i>'.html_safe,
        edit_student_path(@student), class: 'waves-effect waves-light btn' %>
    <% end %>
  </div>
</div>
